@model ProductListModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-12 d-flex justify-content-center">
        <partial name="_slider" />
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryList")
        </div>
        <div class="col-md-9">
            <div class="row">
                @if (Model.Products != null && Model.Products.Count > 0)
                {
                    @foreach(Product product in Model.Products)
                    {
                        <partial name="_products" model="product" />
                    }
                }
                else
                {
                    <p>Ürün Bulunamadı</p>
                }
            </div>
        </div>
    </div>
</div>
