@model ProductModel

@{
    // Sayfa başlığını belirler

    ViewData["title"] = "Create Product";
}

<!-- jQuery kütüphanesi ekleniyor (validationdan önce) -->
<script src="/modules/jquery/dist/jquery.min.js"></script>

@section Scripts {
   
    <script src="~/modules/jquery-validation/dist/jquery.validate.js"></script>
  
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
   
    <script src="~/modules/ckeditor/ckeditor.js"></script>

    <script>
       
        CKEDITOR.replace("editor")
    </script>
}

<h1>Create Product</h1>
<hr />

<!-- Model validasyon hatalarını özet halinde göstermek için alan -->
<div class="row d-flex justify-content-center">
    <div class="col-md-3 validation-box">
        <!-- Sadece model seviyesindeki hataları listeler -->
        <div asp-validation-summary="ModelOnly" class="text-danger validation"></div>
    </div>
</div>

<!-- Ürün oluşturma formu -->
<form asp-controller="Admin" asp-action="CreateProduct" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <!-- Ürünün ID değeri (gerekirse düzenleme senaryosu vb. için), gizli alan -->
            <input type="hidden" name="Id" value="@Model.Id" />

            <!-- Ürün Adı girişi -->
            <div class="col-md-9 offset-md-3 mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Product Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <!-- Ürün Resimleri (4 adet) -->
            <div class="col-md-9 offset-md-3 mb-1">
                <label class="form-label">Image Url</label><br />
                <!-- Ürün resim dosyalarını yüklemek için -->
                <input type="file" name="files" accept="image/png, image/gif, image/jpeg" /><br />
                <input type="file" name="files" accept="image/png, image/gif, image/jpeg" /><br />
                <input type="file" name="files" accept="image/png, image/gif, image/jpeg" /><br />
                <input type="file" name="files" accept="image/png, image/gif, image/jpeg" />
            </div>

            <!-- Ürün Açıklaması -->
            <div class="col-md-9 offset-md-3 mb-3">
                <label asp-for="Description" class="form-label"></label>
                <!-- CKEditor'un devreye gireceği textarea; "editor" ID'si ile tanımlandı -->
                <textarea asp-for="Description" class="form-control" placeholder="Description" id="editor"></textarea>
                <span asp-validation-for="Description"></span>
            </div>

            <!-- Ürün Fiyatı -->
            <div class="col-md-9 offset-md-3 mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" type="number" />
                <span asp-validation-for="Price"></span>
            </div>

            <!-- Ürünün ait olduğu kategori seçimi -->
            <div class="col-md-9 offset-md-3 mb-3">
                <label asp-for="CategoryId" class="form-label">Kategoriler</label>
                <!-- ViewBag.Category içerisindeki kategorileri dropdown olarak listeler -->
                <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Category" placeholder="Category">
                    <!-- Varsayılan seçenek (kullanıcı -1 seçerse, validasyon hata verebilir) -->
                    <option value="-1">Lütfen Kategori Seçiniz</option>
                </select>
                <span asp-validation-for="SelectedCategories"></span>
            </div>

            <!-- Formu gönderen buton -->
            <div class="col-md-9 offset-md-3">
                <button type="submit" class="btn btn-primary">Create Product</button>
            </div>
        </div>
    </div>
</form>
